
ion-badge {
    font-weight: bold;
    color: white;
    font-size: 1.2em;
    padding: 5px 10px;
    border-radius: 15px;
  }
  
  ion-item {
    margin-bottom: 15px;
  }
  
  ion-item-divider {
    background-color: #f2f2f2;
    font-size: 1.1em;
    font-weight: 500;
  }
  