
ion-content {
    padding: 10px;
  }
  
  
  ion-card {
    margin-bottom: 15px;
    border: 1px solid #007bff; /* Solo borde azul */
    border-radius: 8px;
  }
  
  ion-card-header {
    background-color: #3592f5; /* Azul */
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  
  ion-card-content {
    padding: 10px;
  }
  