
ion-list {
    background-color: transparent; /* Fondo transparente */
  }
  
  ion-item-divider {
    font-size: 1.1em;
    font-weight: bold;
    background-color: #4CAF50; 
    color: #fff; 
  }
  
  ion-item {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 8px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1); /* Sombra suave */
  }
  
  ion-item ion-label {
    color: #fff; 
  }
  
  ion-item-divider ion-label {
    color: #ffffff; 
  }
  
  ion-content[color="light"] {
    background-color: #e9ecef; /* Fondo gris claro */
  }
  
  ion-item[lines="full"] {
    border-bottom: 2px solid #ccc;
  }
  
  ion-item[lines="inset"] {
    border-left: 2px solid #ccc;
  }
  
  ion-item[lines="none"] {
    border: none;
  }
  