
ion-content {
    padding: 10px;
  }
  
  
  ion-card {
    margin-bottom: 15px;
    border: 1px solid #007bff; 
    border-radius: 8px;
  }
  

  ion-card-header {
    background-color: #007bff; 
    color: white;
    padding: 10px;
    text-align: center;
  }
  

  ion-card-content {
    padding: 10px;
  }
  
  
  ion-button {
    margin: 5px 0;
    --background: #007bff; 
    --color: white;
    padding: 8px 20px;
  }
  
  ion-button:hover {
    --background: #0056b3; /* Efecto hover azul oscuro */
  }
  